		body
		{
			border: 0px;
			margin:0px;
			padding:0px;
			overflow:hidden;
		}
		.container
		{
			/*border: 1px solid red;*/
			/*border: 0px;*/
			margin:0px;
			padding:0px;
			overflow:hidden;
			position:absolute
		}
		
		.horizontal div
		{
			top:0px
			/*overflow:hidden*/
			/*flex-flow:column nowrap;*/
		}
		
		.vertical div
		{
			left:0px;
			/*flex-flow:row nowrap;*/
		}

		.final
		{
			overflow:auto;
			width:100%;
			height:100%;
		}
		.sample
		{
			border: 0px;
			margin:0px;
			padding:0px;
			width:1mm;
			height:1mm;
			position:absolute;
			left:-1mm;
			bottom:-1mm;
		}

