div.popup
{
	position:absolute;
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.3);
	border-radius: 5px;
	border-width:1px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color:#FAFAFA;
	padding:1em;
	overflow:auto;
	transition: left 1s;
}
